<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>Settings</title>
</head>
<body>
    <div class="testdiv">
        <div id="qu"><span>{{ solo_workspace.solo_workspacename }}</span> 워크스페이스를 삭제하시겠습니까?</div>
        <a href='#' id='delete-btn'>워크스페이스 삭제</a>
    </div>
</body>
<script>
    document.getElementById('delete-btn').addEventListener('click', () => {
            if(confirm('정말로 삭제하시겠습니까?')){
                fetch(location.pathname, {
                    method: 'DELETE',
                    headers: { 'Content-Type': 'application/json'},
                })
                .then((res) => res.json())
                .then(data => {
                    alert(data.msg);
                    opener.location.href = data.url;
                    window.close();
                })
                .catch((err) => {
                    console.error(err);
                });
            }
        });
</script>
</html>