#join-form{
    background-color: #f1f1f1;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    padding-top: 70px;
    line-height: 1.2;
    margin:-150px 0 0 -350px;
    width: 700px;
    height: 200px;
}

.input-group{
    text-align: center;
    font-size : 25px;
    font-family: 'Ubuntu', sans-serif;
}

input{
    width : 400px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#room-btn{
    background-color: white;
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    outline: 0;
}