<!-- 소논문 입력 사항 : 연구 과제명 / 참여 인원 / 연구 기간 
                       연구의 동기 및 목적 / 연구 내용/ 연구 방법 / 기대효과 / 
                       연구 수행 일정 / 연구 결과 / 참고문헌 / 느낀 점 (진로와 연계)-->

<style type="text/css">
    body,table { font-family : '맑은 고딕'; color:#373737; letter-spacing : normal; line-height: 35px; }
    .text { font-size: 15px; text-align: center; font-weight: bolder; background-color: #ececec; }
</style>

<table border="1" width="100%" style="border-collapse: collapse; border-top: 0px solid #000000; border-left:0px solid #000000; border-right:0px solid #000000; border-bottom:0px solid #000000; table-layout:fixed; word-wrap:break-word;">
    <colgroup span="6">  
        <col span="1"  width="16.6%">
        <col span="1"  width="16.6%">
        <col span="1"  width="16.6%">
        <col span="1"  width="16.6%">
        <col span="1"  width="16.6%">
        <col span="1"  width="16.6%">
    </colgroup>

    <tr>
        <td class="text">연구 과제명</td>
        <td class="input_text">&nbsp;</td>
        <td class="text">참여 인원</td>
        <td class="input_text">&nbsp;</td>
        <td class="text">연구 기간</td>
        <td class="input_text">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">연구의 동기 및 목적</td>
    </tr>

    <tr style="height: 200px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">연구 내용</td>
    </tr>

    <tr style="height: 200px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">연구 방법</td>
    </tr>

    <tr style="height: 200px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">기대 효과</td>
    </tr>

    <tr style="height: 200px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">연구 수행 일정</td>
    </tr>

    <tr style="height: 200px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">연구 결과</td>
    </tr>

    <tr style="height: 200px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">참고 문헌</td>
    </tr>

    <tr style="height: 100px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

    <tr>
        <td class="text" colspan="6">느낀 점(진로와 연계)</td>
    </tr>

    <tr style="height: 200px;">
        <td class="input_text" colspan="6">&nbsp;</td>
    </tr>

</table>

